/* /Pages/Index.razor.rz.scp.css */
body[b-45zoarcb18] {
}
/* /Pages/Rennen.razor.rz.scp.css */
#standings[b-3v85zcnqe8] {
    border-collapse: collapse;
    width: 100%;
}

    #standings td[b-3v85zcnqe8], #standings th[b-3v85zcnqe8] {
        border: 1px solid #141414;
        padding: 8px;
    }

    #standings tr:nth-child(even)[b-3v85zcnqe8] {
        background-color: #343434;
        color: white;
    }

    #standings tr:nth-child(odd)[b-3v85zcnqe8] {
        background-color: #292929;
        color: white;
    }

    #standings th[b-3v85zcnqe8] {
        padding-top: 12px;
        padding-bottom: 12px;
        background-color: #242424;
        color: white;
    }

    #standings tr:hover[b-3v85zcnqe8] {
        background-color: #141414;
    }

    #standings tr:first-child[b-3v85zcnqe8] {
        background-color: #D4Af37;
    }

        #standings tr:first-child:hover[b-3v85zcnqe8] {
            background-color: #b69119;
        }

    #standings tr:nth-child(2)[b-3v85zcnqe8] {
        background-color: #C0C0C0;
        color: black
    }

        #standings tr:nth-child(2):hover[b-3v85zcnqe8] {
            background-color: #a2a2a2;
        }

    #standings tr:nth-child(3)[b-3v85zcnqe8] {
        background-color: #a05822;
    }

        #standings tr:nth-child(3):hover[b-3v85zcnqe8] {
            background-color: #823b04;
        }

.platz[b-3v85zcnqe8] {
    text-align: center;
    width: 20px;
}

.punkte[b-3v85zcnqe8] {
    text-align: right;
    width: 50px;
}
/* /Pages/Serie.razor.rz.scp.css */
body[b-x420pc2xqd] {
}
#standings[b-x420pc2xqd] {
    border-collapse: collapse;
    width: 100%;
}

    #standings td[b-x420pc2xqd], #standings th[b-x420pc2xqd] {
        border: 1px solid #141414;
        padding: 8px;
    }

    #standings tr:nth-child(even)[b-x420pc2xqd] {
        background-color: #343434;
        color: white;
    }
    #standings tr:nth-child(odd)[b-x420pc2xqd] {
        background-color: #292929;
        color: white;
    }
    #standings th[b-x420pc2xqd] {
        padding-top: 12px;
        padding-bottom: 12px;
        background-color: #242424;
        color: white;
    }
    #standings tr:hover[b-x420pc2xqd] {
        background-color: #141414;
    }
    #standings tr:first-child[b-x420pc2xqd] {
        background-color: #D4Af37;
    }
        #standings tr:first-child:hover[b-x420pc2xqd] {
            background-color: #b69119;
        }
    #standings tr:nth-child(2)[b-x420pc2xqd] {
        background-color: #C0C0C0;
        color: black
    }
        #standings tr:nth-child(2):hover[b-x420pc2xqd] {
            background-color: #a2a2a2;
        }
    #standings tr:nth-child(3)[b-x420pc2xqd] {
        background-color: #a05822;
    }
        #standings tr:nth-child(3):hover[b-x420pc2xqd] {
            background-color: #823b04;
        }
    

.platz[b-x420pc2xqd] {
    text-align: center;
    width: 20px;
}
.punkte[b-x420pc2xqd] {
    text-align:right;
    width: 50px;
}

.results[b-x420pc2xqd] {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: .5rem;
    border-radius: 0.5rem;

    background-color: #242424;
    box-shadow: 0 4px 8px 0 rgba(0,0,0,0.2);
    transition: 0.3s;
}
    .results:hover[b-x420pc2xqd] {
        box-shadow: 0 8px 16px 0 rgba(0,0,0,0.2);
    }
.details[b-x420pc2xqd] {
    font-size: 0.9rem;
    border: 1px solid #141414;
    border-radius: 4px;
}
    .details[b-x420pc2xqd]  a {
        color: #d7d7d7;
        border-radius: 4px;
        height: 3rem;
        display: flex;
        align-items: center;
        line-height: 3rem;
    }

        .details[b-x420pc2xqd]  a.active {
            background-color: rgba(255,255,255,0.25);
            color: white;
        }

        .details[b-x420pc2xqd]  a:hover {
            background-color: rgba(255,255,255,0.1);
            color: white;
        }

#punkteSystem[b-x420pc2xqd] {
    width: 150px;
    text-align: center;
}
    #punkteSystem td[b-x420pc2xqd], #standings th[b-x420pc2xqd] {
        border: 1px solid #141414;
        padding: 8px;
    }

    #punkteSystem tr:nth-child(even)[b-x420pc2xqd] {
        background-color: #343434;
        color: white;
    }

    #punkteSystem tr:nth-child(odd)[b-x420pc2xqd] {
        background-color: #292929;
        color: white;
    }

    #punkteSystem th[b-x420pc2xqd] {
        padding-top: 12px;
        padding-bottom: 12px;
        background-color: #242424;
        color: white;
    }
#punkteSystemContainer[b-x420pc2xqd] {
    display: flex;
    justify-content:center;
}
/* /Shared/MainLayout.razor.rz.scp.css */
.page[b-wgn7u53dgt] {
    position: relative;
    display: flex;
    flex-direction: column;
    background-color: #343434;
    color: white;
}
body[b-wgn7u53dgt] {
    background-color: #343434;
    color: white;
}

main[b-wgn7u53dgt] {
    flex: 1;
}

.sidebar[b-wgn7u53dgt] {
    background-image: linear-gradient(180deg, #141414 0%, #242424 70%);
}

.top-row[b-wgn7u53dgt] {
    background-color: #242424;
    border-bottom: 1px solid #141414;
    justify-content: flex-end;
    height: 3.5rem;
    display: flex;
    align-items: center;
}

    .top-row[b-wgn7u53dgt]  a, .top-row .btn-link[b-wgn7u53dgt] {
        white-space: nowrap;
        margin-left: 1.5rem;
    }

    .top-row a:first-child[b-wgn7u53dgt] {
        overflow: hidden;
        text-overflow: ellipsis;
    }

@media (max-width: 640.98px) {
    .top-row:not(.auth)[b-wgn7u53dgt] {
        display: none;
    }

    .top-row.auth[b-wgn7u53dgt] {
        justify-content: space-between;
    }

    .top-row a[b-wgn7u53dgt], .top-row .btn-link[b-wgn7u53dgt] {
        margin-left: 0;
    }
    body[b-wgn7u53dgt] {
        background-color: #343434;
        color: white;
    }
    .page[b-wgn7u53dgt]{
        /*min-height: 1000px;*/
    }
}

@media (min-width: 641px) {
    .page[b-wgn7u53dgt] {
        flex-direction: row;
        background-color: #343434;
        color: white;
    }

    .sidebar[b-wgn7u53dgt] {
        width: 250px;
        height: 100vh;
        position: sticky;
        top: 0;
    }

    .top-row[b-wgn7u53dgt] {
        position: sticky;
        top: 0;
        z-index: 1;
    }

    .top-row[b-wgn7u53dgt], article[b-wgn7u53dgt] {
        padding-left: 2rem !important;
        padding-right: 1.5rem !important;
    }
    body[b-wgn7u53dgt] {
        background-color: #343434;
        color: white;
    }
}
/* /Shared/NavbarItem.razor.rz.scp.css */
.nav-item[b-fr9nx8te3u] {
    font-size: 0.9rem;
    padding-bottom: 0.5rem;
}

    .nav-item:first-of-type[b-fr9nx8te3u] {
        padding-top: 1rem;
    }

    .nav-item:last-of-type[b-fr9nx8te3u] {
        padding-bottom: 1rem;
    }

    .nav-item[b-fr9nx8te3u]  a {
        color: #d7d7d7;
        border-radius: 4px;
        height: 3rem;
        display: flex;
        align-items: center;
        line-height: 3rem;
    }

        .nav-item[b-fr9nx8te3u]  a.active {
            background-color: rgba(255,255,255,0.25);
            color: white;
        }

        .nav-item[b-fr9nx8te3u]  a:hover {
            background-color: rgba(255,255,255,0.1);
            color: white;
        }
/* /Shared/NavMenu.razor.rz.scp.css */
.navbar-toggler[b-2xf0ylkh9q] {
    background-color: rgba(255, 255, 255, 0.1);
}

.top-row[b-2xf0ylkh9q] {
    height: 3.5rem;
    background-color: rgba(0,0,0,0.4);
}

.navbar-brand[b-2xf0ylkh9q] {
    font-size: 1.1rem;
}

.oi[b-2xf0ylkh9q] {
    width: 2rem;
    font-size: 1.1rem;
    vertical-align: text-top;
    top: -2px;
}

.nav-item[b-2xf0ylkh9q] {
    font-size: 0.9rem;
    padding-bottom: 0.5rem;
}

    .nav-item:first-of-type[b-2xf0ylkh9q] {
        padding-top: 1rem;
    }

    .nav-item:last-of-type[b-2xf0ylkh9q] {
        padding-bottom: 1rem;
    }

    .nav-item[b-2xf0ylkh9q]  a {
        color: #d7d7d7;
        border-radius: 4px;
        height: 3rem;
        display: flex;
        align-items: center;
        line-height: 3rem;
    }

.nav-item[b-2xf0ylkh9q]  a.active {
    background-color: rgba(255,255,255,0.25);
    color: white;
}

.nav-item[b-2xf0ylkh9q]  a:hover {
    background-color: rgba(255,255,255,0.1);
    color: white;
}

@media (min-width: 641px) {
    .navbar-toggler[b-2xf0ylkh9q] {
        display: none;
    }

    .collapse[b-2xf0ylkh9q] {
        /* Never collapse the sidebar for wide screens */
        display: block;
    }
}
