@inherits LayoutComponentBase

<PageTitle>RaceAPI_Webapp</PageTitle>

<div class="page">
    <div class="sidebar">
        <NavMenu />
    </div>

    <main>
        <div class="top-row px-4">
            <a href="https://github.com/LukasPrommeg/POS_4AHINF_API_Projekt/" target="_blank" class="link-light">GitHub Repository</a>
        </div>

        <article class="content px-4">
            @Body
        </article>
    </main>
</div>

@code {

}
