body {
}
#standings {
    border-collapse: collapse;
    width: 100%;
}

    #standings td, #standings th {
        border: 1px solid #141414;
        padding: 8px;
    }

    #standings tr:nth-child(even) {
        background-color: #343434;
        color: white;
    }
    #standings tr:nth-child(odd) {
        background-color: #292929;
        color: white;
    }
    #standings th {
        padding-top: 12px;
        padding-bottom: 12px;
        background-color: #242424;
        color: white;
    }
    #standings tr:hover {
        background-color: #141414;
    }
    #standings tr:first-child {
        background-color: #D4Af37;
    }
        #standings tr:first-child:hover {
            background-color: #b69119;
        }
    #standings tr:nth-child(2) {
        background-color: #C0C0C0;
        color: black
    }
        #standings tr:nth-child(2):hover {
            background-color: #a2a2a2;
        }
    #standings tr:nth-child(3) {
        background-color: #a05822;
    }
        #standings tr:nth-child(3):hover {
            background-color: #823b04;
        }
    

.platz {
    text-align: center;
    width: 20px;
}
.punkte {
    text-align:right;
    width: 50px;
}

.results {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: .5rem;
    border-radius: 0.5rem;

    background-color: #242424;
    box-shadow: 0 4px 8px 0 rgba(0,0,0,0.2);
    transition: 0.3s;
}
    .results:hover {
        box-shadow: 0 8px 16px 0 rgba(0,0,0,0.2);
    }
.details {
    font-size: 0.9rem;
    border: 1px solid #141414;
    border-radius: 4px;
}
    .details ::deep a {
        color: #d7d7d7;
        border-radius: 4px;
        height: 3rem;
        display: flex;
        align-items: center;
        line-height: 3rem;
    }

        .details ::deep a.active {
            background-color: rgba(255,255,255,0.25);
            color: white;
        }

        .details ::deep a:hover {
            background-color: rgba(255,255,255,0.1);
            color: white;
        }

#punkteSystem {
    width: 150px;
    text-align: center;
}
    #punkteSystem td, #standings th {
        border: 1px solid #141414;
        padding: 8px;
    }

    #punkteSystem tr:nth-child(even) {
        background-color: #343434;
        color: white;
    }

    #punkteSystem tr:nth-child(odd) {
        background-color: #292929;
        color: white;
    }

    #punkteSystem th {
        padding-top: 12px;
        padding-bottom: 12px;
        background-color: #242424;
        color: white;
    }
#punkteSystemContainer {
    display: flex;
    justify-content:center;
}